.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.Navbar{

  width:100vw;
  background-color: bisque;
  border-bottom: 100px;
  display: flex;
  justify-content: center;
 
}

.Navbar ul{

  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Navbar li{
 
  list-style: none;
}

.Navbar a{
  text-decoration: none;
  font-family: arial;
  font-size: 24px;
  font-weight: bolder;
  color: rgb(71, 44, 8);
}




.countryCard{
  width:200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:100px 0 20px 0;
  border-radius: 50%;
  background-color: rgb(236, 236, 236);
}

.countryCard a{
  text-decoration: none;
  font-family: arial;
  font-size: 20px;
  font-weight: bolder;
  color:black;
}
.countryCard img{
  width: 70px;
  height: 60px;
}
.details{
  height: 500px;
  width: 400px;
  background-color: rgb(221, 221, 221);
  margin-top: 150px;
 
}

.details img{
  height: 200px;
  width: auto;
  
}
.details p{
  font-size: 20px;
  font-family: arial;
  text-align: left;
  margin-left: 100px;
}
.details span {
  font-size: 20px;
  font-family: arial;
  font-weight: bolder;
}
.details a{
  text-decoration: none;
  padding:10px 20px;
  border-radius: 30px;
  background-color: white;
  font-size: 20px;
  font-family: arial;
  margin-top: 100px;
  color:black
}
